.body{
    background-color: aqua;
}
  .register-container {
    
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  .register-form{
    background-color: #ec7272;
  }
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-group input[type="radio"] {
    width: auto;
    margin-right: 0.5rem;
  }
  

  
  button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #8d1a1a;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e91a1a;
  }
  